html {
    background-color: black;
    color: white;
}

html, body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner-content {
    background: linear-gradient(to bottom, #00000099, #31A8DD00), url("../assets/images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content::before {
    content: "";
    position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.banner-content-title {
    width: 434px;
    height: 47px;
    font-weight: 900;
    font-style: black;
    font-size: 40px;
    background: linear-gradient(to bottom, #33A8DB, #1572B7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.banner-content-text {
    width: 514px;
    height: 46px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
}

button {
    width: 433px;
    height: 103px;
    padding: 19px 91px;
    margin: 31px;
    border-style: solid;
    border-width: 2px;
    border-color: #33A8DB;
    font-weight: 900;
    font-style: black;
    font-size: 16px;
    letter-spacing: 21%;
    color: #31A8DD;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    background-color: #33A8DB;
    color: #fff;
    transition-duration: 0.3s;
}

#course-content {
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #33A8DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-content-title {
    width: 500px;
    height: 38px;
    font-weight: 700;
    font-style: bold;
    font-size: 32px;
    letter-spacing: 19%;
    color: #33A8DB;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.course-content-text {
    width: 792px;
    height: 38px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.modules-list {
    height: 19px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 400px;
}

.module {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 535px;
    height: 51px;
    background-color: #252525;
    border-style: solid;
    border-width: 1px;
    border-radius: 57px;
    border-color: #33A8DB;
    filter: drop-shadow(-2px 6px 4px #00000066);
    margin: 30px;
}

.module span {
    color: #33A8DB;
    background-color: transparent;
    margin-right: 5px;
}

.module:hover {
    background-color: #000;
    cursor: pointer;
    transition-duration: 0.3s;
}

#transform-world {
    background-image: url("../assets/images/woman-code.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #33A8DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#transform-world::before {
    content: "";
    position: center center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.transform-world-text {
    width: 280px;
    height: 141px;
    font-weight: 900;
    font-size: 40px;
    font-style: black;
    background-color: transparent;
    filter: drop-shadow(3px 2px 0 #33A8DB);
    margin-left: 200px;
}

#professional-challenges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.professional-challenges-title {
    font-weight: 700;
    font-size: 32px;
    font-style: bold;
    letter-spacing: 19%;
    color: #33A8DB;
    text-align: center;
    margin: 50px;
}

.professional-challenges-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 50px;
}

.footer {
    width: 100%;
    height: 170px;
    background: linear-gradient(to bottom, #33A8DB00,  #33A8DB33,  #33A8DB33);
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #33A8DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dio-logo {
    margin-top: 60px;
    background-color: transparent;
}

.footer-text {
    font-weight: 400;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
}

.footer-link {
    background-color: transparent;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    font-style: bold;
    color: #33A8DB;
}

@media (max-width: 480px) {
    .banner-content-title {
        width: 405px;
    }

   .banner-content-text {
        width: 470px;
    }

    .course-content-text {
        width: 470px;
        height: 110px;
        line-height: 2;
    }

    .module {
        width: 460px;
        height: 50px;
    }

    .transform-world-text {
        margin-left: 100px;
    }

    .img-professional {
        width: 500px;
    }

    .professional-challenges-text {
        width: 450px;
        line-height: 1.5;
    }

}

@media (max-width: 430px) {
    .banner-content-text {
        width: 425px;
    }

    button {
        width: 410px;
    }

    .course-content-text {
        width: 420px;
    }

    .module {
        width: 400px;
        font-size: 15px;
    }

    .transform-world-text {
        margin-left: 90px;
    }

    .img-professional {
        width: 430px;
    }

    .professional-challenges-text {
        width: 420px;
    }

}

@media (max-width: 395px) {
    .banner-content-title {
        width: 320px;
        padding-bottom: 40px;
    }
    
    .banner-content-text {
        width: 400px;
    }

    button {
        width: 370px;
    }
    
    .course-content-text {
        width: 380px;
        margin-bottom: 50px;
    }
    
    .module {
        width: 370px;
        font-size: 14px;
    }
    
    .transform-world-text {
        margin-left: 60px;
    }
    
    .img-professional {
        width: 400px;
    }

    .professional-challenges-text {
        width: 400px;
    }
    
}